/* -------------------------------------------------------------------------- */
/*                                   Default                                  */
/* -------------------------------------------------------------------------- */
h1 {
  padding: 1em 0;
  text-align: center;
  font-size: 1.5rem;
}

h2 {
  font-size: 1.3rem;
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
}

div,
span {
  border-radius: 10px;
}

body {
  font-family: Poppins;
  cursor: default;
}

button,
a {
  text-decoration: none;
  color: inherit;
  border: none;
}

button:hover,
a:hover {
  cursor: pointer;
}

ul,
li {
  list-style: none;
}

@media only screen and (max-width: 40em) {
  html {
    font-size: 4vw;
  }
}

@media screen and (min-width: 40em) {
  html {
    font-size: 2.7vw;
  }
}

@media screen and (min-width: 50em) {
  html {
    font-size: 2.1vw;
  }
}

@media screen and (min-width: 86em) {
  html {
    font-size: 1.6em;
  }
}

/* -------------------------------------------------------------------------- */
/*                                   Header                                   */
/* -------------------------------------------------------------------------- */
header div {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  place-content: center;
  text-align: center;
}

header .top-nav {
  background-color: rgba(123, 123, 123, 0.293);
  height: 2em;
  -ms-grid-columns: (MINMAX(MAX(15%, 1rem), 0.1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, MINMAX(MAX(15%, 1rem), 0.1fr));
  font-size: 0.8rem;
}

header .nav {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  background-color: #10658e;
  -ms-grid-columns: (MINMAX(MAX(15%, 1rem), 0.1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, MINMAX(MAX(15%, 1rem), 0.1fr));
  height: 3em;
  font-size: 1rem;
}

header .advarsel {
  background-color: #099c7d;
  font-size: 0.8rem;
}

header .advarsel p {
  margin: 0;
}

/* -------------------------------------------------------------------------- */
/*                                 Search Bar                                 */
/* -------------------------------------------------------------------------- */
.container {
  position: absolute;
  margin: auto;
  width: 300px;
  height: 40px;
}

.container .search {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background: #493b3d;
  border-radius: 50%;
  -webkit-transition: all 1s;
  transition: all 1s;
  z-index: 4;
  -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}

.container .search:hover {
  cursor: pointer;
}

.container .search::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 22px;
  right: 0;
  bottom: 0;
  left: 22px;
  width: 12px;
  height: 2px;
  background: white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.container .search::after {
  content: "";
  position: absolute;
  margin: auto;
  top: -5px;
  right: 0;
  bottom: 0;
  left: -5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.container input {
  position: absolute;
  margin: auto;
  font-size: 0.7em;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  background: #767676;
  color: white;
  text-shadow: 0 0 10px #9b9b9b;
  padding: 0 80px 0 20px;
  border-radius: 30px;
  -webkit-box-shadow: 0 0 25px 0 black, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 25px 0 black, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 0;
  z-index: 5;
  font-weight: bolder;
  letter-spacing: 0.1em;
}

.container input:hover {
  cursor: pointer;
}

.container input:focus {
  width: 300px;
  opacity: 1;
  cursor: text;
}

.container input:focus ~ .search {
  right: -450px;
  background: #151515;
  z-index: 6;
}

.container input:focus ~ .search::before {
  top: 0;
  left: 0;
  width: 25px;
}

.container input:focus ~ .search::after {
  top: 0;
  left: 0;
  width: 25px;
  height: 2px;
  border: none;
  background: white;
  border-radius: 0%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.container input::-webkit-input-placeholder {
  color: white;
  opacity: 0.5;
  font-weight: bolder;
}

.container input:-ms-input-placeholder {
  color: white;
  opacity: 0.5;
  font-weight: bolder;
}

.container input::-ms-input-placeholder {
  color: white;
  opacity: 0.5;
  font-weight: bolder;
}

.container input::placeholder {
  color: white;
  opacity: 0.5;
  font-weight: bolder;
}

/* -------------------------------------------------------------------------- */
/*                           By og info (Main-info)                           */
/* -------------------------------------------------------------------------- */
.mainInfo {
  width: 80vw;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  place-content: center;
  -ms-grid-columns: (MINMAX(MAX(50%, 10rem), 5fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, MINMAX(MAX(50%, 10rem), 5fr));
}

.mainInfo h1 {
  text-align: left;
}

.mainInfo h2 {
  padding: 1em 0;
  text-align: right;
}

/* -------------------------------------------------------------------------- */
/*                                    Kort                                    */
/* -------------------------------------------------------------------------- */
.kort {
  background-color: red;
  height: 25em;
  width: 80vw;
  margin: 0 auto;
  position: relative;
}

.kort .filter {
  background-color: blue;
  padding: 0.5em;
  position: absolute;
  right: 5%;
  top: 5%;
}

.kort .play {
  position: absolute;
  bottom: 0;
  right: 50%;
  background-color: yellow;
  padding: 0.5em;
}

/* -------------------------------------------------------------------------- */
/*                                 Background                                 */
/* -------------------------------------------------------------------------- */
.home-page__background {
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url(https://www.yr.no/assets/images/background-cloud.jpg), -webkit-gradient(linear, left top, left bottom, from(#e1f0fa), to(#ffffff));
  background-image: url(https://www.yr.no/assets/images/background-cloud.jpg), linear-gradient(#e1f0fa, #ffffff);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: auto 40rem;
  height: 40rem;
  width: 100%;
}

/* -------------------------------------------------------------------------- */
/*                                 Current Day                                */
/* -------------------------------------------------------------------------- */
.currentDay {
  text-align: center;
  background-color: rgba(224, 224, 224, 0.767);
  width: 80vw;
  margin: 0 auto;
  padding: 1em 0;
  border-radius: 10px;
}

.currentDay .status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.currentDay .status p {
  -webkit-box-flex: 10%;
      -ms-flex: 10%;
          flex: 10%;
}

.currentDay .mini {
  font-size: 0.7rem;
}

.currentDay i {
  font-size: 2rem;
}

.currentDay .diagram {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (MINMAX(MAX(15%, 0rem), 0.5fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, MINMAX(MAX(15%, 0rem), 0.5fr));
  background-color: lightgray;
  width: 75vw;
  margin: 0 auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2em 0;
}

@media only screen and (max-width: 50em) {
  .currentDay .diagram {
    -ms-grid-columns: (MINMAX(MAX(15%, 5rem), 5fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, MINMAX(MAX(15%, 5rem), 5fr));
  }
  .currentDay .diagram div {
    margin: 1.5em 0;
  }
}

.currentDay .diagram div {
  text-align: center;
  height: 7em;
}

.currentDay .diagram div span {
  display: block;
  margin: 0 auto;
  background-color: red;
  width: 3em;
  height: 7em;
}

.currentDay .diagram div p {
  font-size: 0.8rem;
}

.currentDay .motionsAnbefaling {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 75vw;
  margin: 1em auto;
}

.currentDay .motionsAnbefaling p {
  margin: 0;
}

.currentDay .motionsAnbefaling .questionMark {
  padding: 1em 0;
  width: 25%;
  background-color: lightgray;
}

.currentDay .motionsAnbefaling .anbefaling {
  text-align: left;
  padding: 1em;
  margin-left: 1em;
  width: 75%;
  background-color: lightgray;
}

@media only screen and (max-width: 50em) {
  .currentDay .motionsAnbefaling {
    display: -ms-grid;
    display: grid;
    place-content: center;
    text-align: center;
  }
  .currentDay .motionsAnbefaling div {
    margin-left: 0em !important;
    width: 100% !important;
  }
}

/* -------------------------------------------------------------------------- */
/*                                 Seven Days                                 */
/* -------------------------------------------------------------------------- */
.sevenDays {
  width: 80vw;
  margin: 0 auto;
  padding: 1em;
  background-color: #c8c8c8;
}

.sevenDays .header {
  display: -ms-grid;
  display: grid;
  text-align: center;
  -ms-grid-columns: (MINMAX(MAX(15%, 0rem), 0.5fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, MINMAX(MAX(15%, 0rem), 0.5fr));
}

.sevenDays .diagramTwo {
  background-color: #717171;
  width: 75vw;
  height: 10em;
  margin: 0 auto;
}

/* -------------------------------------------------------------------------- */
/*                                   Footer                                   */
/* -------------------------------------------------------------------------- */
.new_footer_area {
  background: #fbfbfd;
}

.new_footer_area h1,
.new_footer_area h2,
.new_footer_area h3,
.new_footer_area h4,
.new_footer_area h5,
.new_footer_area h6 {
  color: #4b505e;
}

.new_footer_top {
  padding: 120px 0px 270px;
  position: relative;
  overflow-x: hidden;
}

.new_footer_area .footer_bottom {
  padding-top: 5px;
  padding-bottom: 50px;
}

.footer_bottom {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #7f88a6;
  padding: 27px 0px;
}

.new_footer_top .company_widget p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #6a7695;
  margin-bottom: 20px;
}

.new_footer_top .company_widget .f_subscribe_two .btn_get {
  border-width: 1px;
  margin-top: 20px;
}

.btn_get_two:hover {
  background: transparent;
  color: #5e2ced;
}

.btn_get:hover {
  color: #fff;
  background: #6754e2;
  border-color: #6754e2;
  -webkit-box-shadow: none;
  box-shadow: none;
}

a:hover,
a:focus,
.btn:hover,
.btn:focus,
button:hover,
button:focus {
  text-decoration: none;
  outline: none;
}

.new_footer_top .f_widget.about-widget .f_list li a:hover {
  color: #5e2ced;
}

.new_footer_top .f_widget.about-widget .f_list li {
  margin-bottom: 11px;
}

.f_widget.about-widget .f_list li:last-child {
  margin-bottom: 0px;
}

.f_widget.about-widget .f_list li {
  margin-bottom: 15px;
}

.f_widget.about-widget .f_list {
  margin-bottom: 0px;
}

.new_footer_top .f_social_icon a {
  width: 44px;
  height: 44px;
  line-height: 43px;
  background: transparent;
  border: 1px solid #e2e2eb;
  font-size: 24px;
}

.f_social_icon a {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  font-size: 14px;
  line-height: 45px;
  color: #858da8;
  display: inline-block;
  background: #ebeef5;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.ti-facebook:before {
  content: "\e741";
}

.ti-twitter-alt:before {
  content: "\e74b";
}

.ti-vimeo-alt:before {
  content: "\e74a";
}

.ti-pinterest:before {
  content: "\e731";
}

.btn_get_two {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #5e2ced;
  border-color: #5e2ced;
  color: #fff;
}

.btn_get_two:hover {
  background: transparent;
  color: #5e2ced;
}

.new_footer_top .f_social_icon a:hover {
  background: #5e2ced;
  border-color: #5e2ced;
  color: white;
}

.new_footer_top .f_social_icon a + a {
  margin-left: 4px;
}

.new_footer_top .f-title {
  margin-bottom: 30px;
  color: #263b5e;
}

.f_600 {
  font-weight: 600;
}

.f_size_18 {
  font-size: 18px;
}

.new_footer_top .f_widget.about-widget .f_list li a {
  color: #6a7695;
}

.new_footer_top .footer_bg {
  position: absolute;
  bottom: 0;
  background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEigB8iI5tb8WSVBuVUGc9UjjB8O0708X7Fdic_4O1LT4CmLHoiwhanLXiRhe82yw0R7LgACQ2IhZaTY0hhmGi0gYp_Ynb49CVzfmXtYHUVKgXXpWvJ_oYT8cB4vzsnJLe3iCwuzj-w6PeYq_JaHmy_CoGoa6nw0FBo-2xLdOPvsLTh_fmYH2xhkaZ-OGQ/s16000/footer_bg.png") no-repeat scroll center 0;
  width: 100%;
  height: 266px;
}

.new_footer_top .footer_bg .footer_bg_one {
  background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEia0PYPxwT5ifToyP3SNZeQWfJEWrUENYA5IXM6sN5vLwAKvaJS1pQVu8mOFFUa_ET4JuHNTFAxKURFerJYHDUWXLXl1vDofYXuij45JZelYOjEFoCOn7E6Vxu0fwV7ACPzArcno1rYuVxGB7JY6G7__e4_KZW4lTYIaHSLVaVLzklZBLZnQw047oq5-Q/s16000/volks.gif") no-repeat center center;
  width: 330px;
  height: 105px;
  background-size: 100%;
  position: absolute;
  bottom: 0;
  left: 30%;
  -webkit-animation: myfirst 22s linear infinite;
  animation: myfirst 22s linear infinite;
}

.new_footer_top .footer_bg .footer_bg_two {
  background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhyLGwEUVwPK6Vi8xXMymsc-ZXVwLWyXhogZxbcXQYSY55REw_0D4VTQnsVzCrL7nsyjd0P7RVOI5NKJbQ75koZIalD8mqbMquP20fL3DxsWngKkOLOzoOf9sMuxlbyfkIBTsDw5WFUj-YJiI50yzgVjF8cZPHhEjkOP_PRTQXDHEq8AyWpBiJdN9SfQA/s16000/cyclist.gif") no-repeat center center;
  width: 88px;
  height: 100px;
  background-size: 100%;
  bottom: 0;
  left: 38%;
  position: absolute;
  -webkit-animation: myfirst 30s linear infinite;
  animation: myfirst 30s linear infinite;
}

@-webkit-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

/*************footer End*****************/
/*# sourceMappingURL=styles.css.map */