/* -------------------------------------------------------------------------- */
/*                                   Default                                  */
/* -------------------------------------------------------------------------- */
h1 {
  padding: 1em 0;
  text-align: center;
  font-size: 1.5rem;
}
h2 {
  font-size: 1.3rem;
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
}
div,
span {
  border-radius: 10px;
}
body {
  font-family: Poppins;
  cursor: default;
}

button,
a {
  text-decoration: none;
  color: inherit;
  border: none;
}

button:hover,
a:hover {
  cursor: pointer;
}

ul,
li {
  list-style: none;
}

@media only screen and (max-width: 40em) {
  html {
    font-size: 4vw;
  }
}
@media screen and (min-width: 40em) {
  html {
    font-size: 2.7vw;
  }
}
@media screen and (min-width: 50em) {
  html {
    font-size: 2.1vw;
  }
}
@media screen and (min-width: 86em) {
  html {
    font-size: 1.6em;
  }
}

/* -------------------------------------------------------------------------- */
/*                                   Header                                   */
/* -------------------------------------------------------------------------- */
header {
  div {
    display: grid;
    grid-auto-flow: column;
    place-content: center;
    text-align: center;
  }
  .top-nav {
    background-color: rgba(123, 123, 123, 0.293);
    height: 2em;
    grid-template-columns: repeat(auto-fit, MINMAX(MAX(15%, 1rem), 0.1fr));
    font-size: 0.8rem;
  }
  .nav {
    display: grid;
    grid-auto-flow: column;
    background-color: #10658e;
    grid-template-columns: repeat(auto-fit, MINMAX(MAX(15%, 1rem), 0.1fr));
    height: 3em;
    font-size: 1rem;
  }
  .advarsel {
    background-color: #099c7d;
    font-size: 0.8rem;
    p {
      margin: 0;
    }
  }
}
/* -------------------------------------------------------------------------- */
/*                                 Search Bar                                 */
/* -------------------------------------------------------------------------- */
.container {
  position: absolute;
  margin: auto;

  width: 300px;
  height: 40px;
  .search {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background: rgb(73, 59, 61);
    border-radius: 50%;
    transition: all 1s;
    z-index: 4;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
    // box-shadow: 0 0 25px 0 crimson;
    &:hover {
      cursor: pointer;
    }
    &::before {
      content: "";
      position: absolute;
      margin: auto;
      top: 22px;
      right: 0;
      bottom: 0;
      left: 22px;
      width: 12px;
      height: 2px;
      background: white;
      transform: rotate(45deg);
      transition: all 0.5s;
    }
    &::after {
      content: "";
      position: absolute;
      margin: auto;
      top: -5px;
      right: 0;
      bottom: 0;
      left: -5px;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      border: 2px solid white;
      transition: all 0.5s;
    }
  }
  input {
    position: absolute;
    margin: auto;
    font-size: 0.7em;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    // border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background: rgb(118, 118, 118);
    color: white;
    text-shadow: 0 0 10px rgb(155, 155, 155);
    padding: 0 80px 0 20px;
    border-radius: 30px;
    box-shadow: 0 0 25px 0 rgb(0, 0, 0), 0 20px 25px 0 rgba(0, 0, 0, 0.2);
    // box-shadow: inset 0 0 25px 0 rgba(0, 0, 0, 0.5);
    transition: all 1s;
    opacity: 0;
    z-index: 5;
    font-weight: bolder;
    letter-spacing: 0.1em;
    &:hover {
      cursor: pointer;
    }
    &:focus {
      width: 300px;
      opacity: 1;
      cursor: text;
    }
    &:focus ~ .search {
      right: -450px;
      background: #151515;
      z-index: 6;
      &::before {
        top: 0;
        left: 0;
        width: 25px;
      }
      &::after {
        top: 0;
        left: 0;
        width: 25px;
        height: 2px;
        border: none;
        background: white;
        border-radius: 0%;
        transform: rotate(-45deg);
      }
    }
    &::placeholder {
      color: white;
      opacity: 0.5;
      font-weight: bolder;
    }
  }
}
/* -------------------------------------------------------------------------- */
/*                           By og info (Main-info)                           */
/* -------------------------------------------------------------------------- */
.mainInfo {
  width: 90vw;
  margin: 0 auto;
  
  display: grid;
  place-content: center;
  grid-template-columns: repeat(auto-fit, MINMAX(MAX(50%, 10rem), 5fr));
  h1{
    text-align: left;
  }
  h2{
    padding: 1em 0;
    text-align: right;
  }
}

/* -------------------------------------------------------------------------- */
/*                                    Kort                                    */
/* -------------------------------------------------------------------------- */
.kort {
  background-color: red;
  height: 25em;
  width: 90vw;
  margin: 0 auto;
  position: relative;
  .filter {
    background-color: blue;
    padding: 0.5em;
    position: absolute;
    right: 5%;
    top: 5%;
  }
  .play {
    position: absolute;
    bottom: 0;
    right: 50%;
    background-color: yellow;
    padding: 0.5em;
  }
}

/* -------------------------------------------------------------------------- */
/*                                 Background                                 */
/* -------------------------------------------------------------------------- */
.home-page__background {
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url(https://www.yr.no/assets/images/background-cloud.jpg),
    -webkit-gradient(linear, left top, left bottom, from(#e1f0fa), to(#ffffff));
  background-image: url(https://www.yr.no/assets/images/background-cloud.jpg),
    -webkit-linear-gradient(#e1f0fa, #ffffff);
  background-image: url(https://www.yr.no/assets/images/background-cloud.jpg),
    linear-gradient(#e1f0fa, #ffffff);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: auto 40rem;
  height: 40rem;
  width: 100%;
}
/* -------------------------------------------------------------------------- */
/*                                 Current Day                                */
/* -------------------------------------------------------------------------- */
.currentDay {
  text-align: center;
  background-color: rgba(224, 224, 224, 0.767);
  width: 90vw;
  margin: 0 auto;
  padding: 1em 0;
  border-radius: 10px;
  .status {
    display: flex;
    justify-content: center;
    p {
      flex: 10%;
    }
  }
  .mini {
    font-size: 0.7rem;
  }
  i {
    font-size: 2rem;
  }
  .diagram {
    display: grid;
    grid-template-columns: repeat(auto-fit, MINMAX(MAX(15%, 0rem), 0.5fr));
    @media only screen and (max-width: 50em) {
      grid-template-columns: repeat(auto-fit, MINMAX(MAX(15%, 5rem), 5fr));
      div {
        margin: 1.5em 0;
      }
    }
    background-color: rgb(211, 211, 211);
    width: 85vw;
    margin: 0 auto;
    height: fit-content;
    padding: 2em 0;
    div {
      text-align: center;
      height: 7em;
      span {
        display: block;
        margin: 0 auto;
        background-color: red;
        width: 3em;
        height: 7em;
      }
      p {
        font-size: 0.8rem;
      }
    }
  }
  .motionsAnbefaling {
    p {
      margin: 0;
    }
    display: flex;
    justify-content: center;
    width: 85vw;
    margin: 1em auto;
    .questionMark {
      padding: 1em 0;
      width: 25%;
      background-color: rgb(211, 211, 211);
    }
    .anbefaling {
      text-align: left;
      padding: 1em;
      margin-left: 1em;
      width: 75%;
      background-color: rgb(211, 211, 211);
    }
    @media only screen and (max-width: 50em) {
      display: grid;
      place-content: center;
      text-align: center;
      div {
        margin-left: 0em !important;

        width: 100% !important;
      }
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                                 Seven Days                                 */
/* -------------------------------------------------------------------------- */
.sevenDays {
  width: 90vw;
  margin: 0 auto;
  background-color: rgb(200, 200, 200);
  padding-bottom: .5em;
  .header {
    color: #fbfbfb;
    display: grid;
    text-align: center;
    padding: 1em 0;
    grid-template-columns: repeat(auto-fit, MINMAX(MAX(15%, 0rem), 0.5fr));
    margin-bottom: .8em;
    background-color: #10658e;
  }
  .diagramTwo {
    /* background-color: rgb(113, 113, 113); */
    
    margin: .5em;
    display: grid;
    grid-template-columns: repeat(auto-fit, MINMAX(MAX(5%, 0rem), 0.5fr));
    @media only screen and (max-width: 50em) {
      grid-template-columns: repeat(auto-fit, MINMAX(MAX(20%, 5rem), 0.5fr));
    }
    div{
      background-color: rgb(224, 135, 135);
      height: 100%;
      width: 5.8em;
      display: grid;
      min-height: 10em;
      @media only screen and (max-width: 50em) {
        margin-bottom: 1em;
      }
      i{
        font-size: 2.5rem;
        margin: .2em auto;
      }
      .tempInfo{
        font-size: .5rem;
        display: flex;
        width: 100%;
        text-decoration: underline;
      }
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                                   Footer                                   */
/* -------------------------------------------------------------------------- */
.hidden {
  display: none;
}

.footer-gray {
  background-color: #EFEFEF;
  width: 100%;
}

.footer-custom {
  color: #888;
  font: normal normal 12px/1.4 "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  max-width: 1008px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 24px;
}

.footer-custom:after {
  display: table;
  clear: both;
  content: "";
}

.footer-lists:after {
  display: table;
  clear: both;
  content: "";
}

.ftr-hdr {
  color: #000;
  font: 22px/1.4 'BebasNeueRegular', BebasNeue, 'Bebas Neue', Arial, sans-serif;
  margin: 1em 0 0;
}

@media only screen and (min-width: 768px) {
  .ftr-hdr {
    font-size: 18px;
  }
}

.footer-list-wrap {
  width: 50%;
  float: left;
  box-sizing: border-box;
}

@media only screen and (min-width: 568px) {
  .footer-list-wrap {
    width: 33.3333%;
  }
}

@media only screen and (min-width: 768px) {
  .footer-list-wrap {
    width: 25%;
  }
}

.ftr-links-sub {
  padding: 0;
  margin: 0;
}

.ftr-links-sub:after {
  display: table;
  clear: both;
  content: "";
}

.ftr-links-sub li {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 3px 0;
  color: #888;
  font: normal normal 12px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-transform: uppercase;
  /*width: 150px;*/
}

.footer-custom a,
.footer-custom a:link,
.footer-custom a:visited,
.ftr-links-sub li .link {
  text-decoration: none;
  color: #888;
  padding: 5px 0;
  display: block;
}

.footer-custom .footer-legal a {
  display: inline;
}

.footer-custom a:hover,
.footer-custom a:active,
.ftr-links-sub li .link:hover {
  text-decoration: underline;
  color: #888;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .footer-custom a, .footer-custom a:link, .footer-custom a:visited, .ftr-links-sub li .link {
    padding: 0;
  }
}
/* BEGIN EMAIL CAPTURE STYLES*/

.footer-email {
  text-align: center;
}

#ftrEmailForm {
  height: 44px;
}

#ftrEmailForm .error {
  display: none;
  color: red;
  text-align: left;
}

#ftrEmailForm #ftrEmailInput {
  background: none repeat scroll 0 0 #FFF;
  border: 1px solid #D6D6D6;
  box-sizing: border-box;
  color: #888;
  float: left;
  font: normal normal 14px/1.4 "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  padding: 5px;
  width: 70%;
  height: 100%;
}

#ftrEmailForm #ftrEmailInput:hover {
  border: 1px solid #888;
}

#ftrEmailForm #ftrEmailInput:focus {
  border: 1px solid #ef9223;
  outline: #ef9223 auto 5px;
}

#ftrEmailForm .button {
  width: 30%;
  height: 100%;
  padding: 5px;
  float: left;
  border: 1px solid #DFDFDF;
  box-sizing: border-box;
  color: #000;
  font: normal bold 18px/1 BebasFamily, BebasNeueRegular, "Bebas Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  background: #FFF;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #e1e1e1));
  background: -webkit-linear-gradient(top, white 0, #e1e1e1 100%);
  background: -moz-linear-gradient(top, white 0, #e1e1e1 100%);
  background: -ms-linear-gradient(top, white 0, #e1e1e1 100%);
  background: -o-linear-gradient(top, white 0, #e1e1e1 100%);
  background: linear-gradient(to bottom, white 0, #e1e1e1 100%);
  cursor: pointer;
  vertical-align: middle;
  outline: none;
}

#ftrEmailForm .button:hover,
#ftrEmailForm .button:active {
  background: black;
  color: #FFF;
  outline: none;
}
/* BEGIN SOCIAL STYLES*/

.footer-social {
  text-align: center;
}

.footer-social ul {
  padding: 0;
  display: inline-block;
  list-style-type: none;
}

.footer-social ul:after {
  display: table;
  clear: both;
  content: "";
}

.footer-social li {
  float: left;
  margin: 0 15px 0 0;
  padding: 0;
}

@media only screen and (min-width: 768px) {
  .footer-lists {
    width: 100%;
  }
  .footer-email {
    width: 50%;
    float: left;
    text-align: left;
  }
  .footer-social {
    width: 45%;
    margin-left: 5%;
    float: left;
    text-align: left;
  }
}

@media only screen and (min-width: 1008px) {
  .footer-lists {
    width: 66.6666%;
    float: left;
  }
  .footer-email {
    width: 33.3333%;
  }
  .footer-social {
    width: 33.3333%;
    float: right;
    margin-left: 0;
  }
}

.footer-legal {
  padding: 15px 0 0;
  clear: left;
}

.footer-payment {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .footer-legal {
    width: 66.6666%;
    float: left;
  }
  .footer-payment {
    width: 33.3333%;
    float: left;
  }
}

@media only screen and (min-width: 1008px) {
  .footer-payment {
    text-align: left;
  }
}

.footer-payment ul {
  padding: 0;
  display: inline-block;
  list-style-type: none;
}

.footer-payment ul li {
  display: inline-block;
  margin: 0 6px;
}

@media only screen and (min-width: 1008px) {
  .footer-payment ul li.ftr-stella {
    margin-left: 0;
  }
}

.ftr-bbb span,
.ftr-stella span {
  background-image: url("http://cache1.artprintimages.com/images/jump_pages/rebrand2/images/subnav2.png");
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  height: 36px;
  margin: 0;
  padding: 0;
}

.ftr-bbb span {
  background-position: -339px -8px;
  width: 96px;
}

.ftr-stella span {
  background-position: -339px -107px;
  width: 57px;
}
